.tag-container{
  display: flex;
  padding-top: 12px;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag-container > div {
  margin-left: 0px;
  margin-bottom: 9px;
  border: 0px;
  font-size:16px;
  user-select:none;
}
.tag-container > div::before {
    border: 0px !important;
}
