.tag-container{
  display: flex;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag-container > div {
  display: inline-block;
  margin-left: 0px;
  margin-bottom: 9px;
  border: 0px;
  font-size:16px;
  user-select:none;
}
