html, body {
  height: 100%;
  margin: 0px;
  font-family: PingFangSC;
  word-break: break-all;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.highlight-font-color{
    color:#1a98ff;
}
h4,h3,h2 {
    font-weight: 400;
}
